*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

header{
    width: 100vw;
    background-size: cover;
    object-fit: cover;
    background: url(responsive.avif)no-repeat center center;
    background-size: cover;
    object-fit: cover;
    height: 60vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 5px 5px;
    margin-bottom: 30px;
    animation: 2s welcome;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background: url(responsive.avif);
    position: sticky;
    top: 0;
}
.icon{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.icon span{
    color: #ec0909cb;
}
nav ul{
    display: flex;
    gap: 24px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}

nav ul li a:hover, .active{
    font-size: 20px;
    text-decoration: underline;
    color: #ec0909cb;
    font-weight: 500;
}
.bars{
    display: none;
    color: #fff;
}
.text{
    text-align: center;
    line-height: 2.2;
}
.text .icon{
    font-size: 80px;
    letter-spacing: 1.2;
    text-shadow: 5px 8px 10px #ec0909cb;

}
.text h2, .text h3{
    color: #fff;
}
.all-cards .cards{
    display: flex;
    line-height: 2;
    justify-content: center;
    animation: 2.5s welcome;
}
.cards .card{
    background-image: conic-gradient(#cfb1b1cb, rgb(8, 8, 77));
    text-align: center;
    margin: 0 40px;
    width: 210px;
    border-radius: 16px;
}
.cards .card .nbre{
    font-size: 40px;
    font-weight: 600;
    color: #ec0909cb;
    text-shadow: 5px 5px 10px #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.cards .card p{
    color: #fff;
    text-shadow: 5px 5px 10px #ec0909cb;
    Font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

footer{
    background-color: #000;
    color: #606060;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.418);
    border-radius: 5px 5px 0 0;
}
@keyframes welcome {
    0%{
        opacity: 0;
        transform: scale(0.3);
    }
    50%{
        opacity: .5;
        transform: scale(1.3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}