*{padding: 0;
margin: 0;
box-sizing: border-box;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background: linear-gradient(100deg, #ffffff5a 0%, rgb(5, 5, 61) 70%, #fff 100%);
}
header{
    width: 100vw;
    background-size: cover;
    object-fit: cover;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background: url(responsive.avif);
    position: sticky;
    top: 0;
}
.icon{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.icon span{
    color: #ec0909cb;
}
nav ul{
    display: flex;
    gap: 24px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}

nav ul li a:hover, .active{
    font-size: 20px;
    text-decoration: underline;
    color: #ec0909cb;
    font-weight: 500;
}
.bars{
    display: none;
    color: #fff;
}

.presentation{
    display: flex;
    background: linear-gradient(100deg, #ffffff5a 0%, rgb(5, 5, 61) 70%, #fff 100%);
}
.genie_log{
    background: url(gen.jpg)no-repeat center center;
    background-size: cover;
    object-fit: cover;
    width: 33.3%;
    height: 100vh;
    border-radius: 5px;
    border-right: 5px solid #000;
    border-left: 5px solid #000;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    animation: 1s slide;
}
.resinfo{
    background: url(ResInfo.jpg)no-repeat center center ;
    background-size: cover;
    width: 33.3%;
    height: 100vh;
    border-radius: 5px;
    border-right: 5px solid #000;
    transition: 1s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    animation: 1s slide;
}
.data_ia{
    background: url(data_ia.jpeg)no-repeat center center ;
    background-size: cover;
    width: 33.3%;
    height: 100vh;
    border-radius: 5px;
    border-right: 5px solid #000;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    animation: 1s slide;
}

.genie_log:hover, .resinfo:hover, .data_ia:hover{
    transform: scale(.94); 
}
.genie_log ul {
    list-style: none;
    margin-top: 150px;
    padding: 15px 0;
    text-align: center;
}
.resinfo ul {
    list-style: none;
    margin-top: 150px;
    padding: 15px 0;
    text-align: center;
}
.data_ia ul{
    list-style: none;
    margin-top: 150px;
    padding: 15px 0;
    text-align: center;
}
.genie_log ul a,
.resinfo ul a,
.data_ia ul a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
     text-align: center;
     font-weight: bold;
     transition: 0.3s;
}
.genie_log ul li,
.resinfo ul li,
.data_ia ul li{
   margin: 10px;
}
.genie_log ul a:hover,
.resinfo ul a:hover,
.data_ia ul a:hover{
    color: #ec0909cb;
}
.presentation-btn{
    
    align-items: center;
    justify-content: center;
    text-align: center;

}
.name{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    text-shadow: #ec0909cb 5px 10px 15px;
    margin-top: 50px;
}
.name span{
    color: #ec0909cb;
    text-shadow: #fff;
}
.presentation-btn{
    margin-top: 20px;
}
.presentation-btn a{
    padding: 10px 35px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #ec0909cb;
    background-color: #ffffff57;
    transition: .7s;
}
.presentation-btn a:hover{
    color: #ec0909cb;
    background-color: rgba(255, 255, 255, 0.797);
}
footer{
    background-color: #000;
    color: #606060;
    padding: 20px;
    text-align: center;
}
@keyframes slide {
    0%{
        transform: scale(1.3);
    }
    
    100%{
        transform: scale(1);
    }
    
}























@media screen and (max-width: 10px) {
    .navbar{
        height: 100vh;
        width: 100vw;
        background: url(responsive.avif);
    }

    .bars{
        display: block;
        position: absolute;
        top: 10px;
        right: 100px;
        cursor: pointer;

    }
    nav ul{
        display: block;
        flex-direction: column;

    }
    nav ul li {
        margin: 30px 0;
        color: black;
        text-align: center;
    }
    nav ul li a{
        color: #ffffff;
        font-weight: 600;
        text-transform: uppercase;
        text-shadow: 5px 10px 10px #ec0909cb;
    }
    .active:hover{
        font-size: 21px;
    }
    .icon{
        position: absolute;
        top: 0;
        left: 50px;
    }
}
